.middle {
	color: #FF0000;
	text-align: center;
	font-family: berlin sans fb, arial, serif;
	font-size: 24;
	position: center;
	}
.topmiddle {
	color: #000000;
	text-align: center;
	font-family: Arial Bold, arial, serif;
	font-size: 24;
	position: center;
	}
.topnav {
	overflow: hidden;
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	}
.topnav a {
	float: right;
	display: block;
	color: #66FCF1;
	text-align: center;
	text-decoration: none;
	font-family: Imprint MT Shadow, georgia, serif;
	font-size: 18;
	}
.topnav a:hover {
	background-color: #66FCF1;
	color: #0B0B10;
	}
.icon-bar {
  width: 60px;
  height: 310px;
  background-color: #000000;
	}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
  margin: 0px;
	}
.icon-bar a:hover {
	background-color: #FEE2CA;
	}
.icon-bar2 {
  width: 60px;
  height: 310px;
  background-color: #000000;
	}
.icon-bar2 a {
  display: block;
  text-align: center;
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
  margin: 0px;
	}
.icon-bar2 a:hover {
	background-color: #252D3A;
	}
.icon-bar3 {
  width: 60px;
  height: 310px;
  background-color: #000000;
	}
.icon-bar3 a {
  display: block;
  text-align: center;
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
  margin: 0px;
	}
.icon-bar3 a:hover {
	background-color: #FEE2CA;
	}
.hometxt {
	padding-left: 75px;
	text-align: center;
	font-size: 30;
	color: #FF00FF;
	margin-left: 400px;
	}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 0.25%;
	background-color: white;
	font-family: Comic Sans MS, georgia, serif;
	font-size: 18;
	}
