.middle {
	color: #FF0000;
	text-align: center;
	font-family: berlin sans fb, arial, serif;
	font-size: 24;
	position: center;
	}
.topmiddle {
	color: #FFFFFF;
	text-align: center;
	font-family: Arial Bold, arial, serif;
	font-size: 24px;
	position: center;
	}
.topnav {
	overflow: hidden;
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	}
.topnav a {
	float: right;
	display: block;
	color: #66FCF1;
	text-align: center;
	text-decoration: none;
	font-family: Imprint MT Shadow, georgia, serif;
	font-size: 18;
	padding: 12px 16px;
	}
.topnav a:hover {
	background-color: #66FCF1;
	color: #0B0B10;
	padding: 12px 16px;
	}
.icon-bar {
  width: 60px;
  height: 310px;
  background-color: #000000;
  padding-top: 10px;
	}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
  margin: 0px;
	}
.icon-bar a:hover {
	background-color: #322823;
	}
.icon-bar2 {
  width: 60px;
  height: 310px;
  background-color: #000000;
	}
.icon-bar2 a {
  display: block;
  text-align: center;
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
  margin: 0px;
	}
.icon-bar2 a:hover {
	background-color: #7D7CA4;
	}
.icon-bar3 {
  width: 60px;
  height: 310px;
  background-color: #000000;
	}
.icon-bar3 a {
  display: block;
  text-align: center;
  padding: 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
  margin: 0px;
	}
.icon-bar3 a:hover {
	background-color: #6584B2;
	}
.hometxt {
	text-align: center;
	font-size: 30;
	margin-left: 200px;
	margin-right: 200px;
	font-family: verdana;
	}
.portfoliotxt {
	text-align: center;
	font-size: 25;
	margin-left: 200px;
	margin-right: 200px;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	}
.aboutmetxt {
	text-align: center;
	font-size: 30;
	margin-left: 200px;
	margin-right: 200px;
	padding-left: 100px;
	font-family: Tahoma, Geneva, sans-serif;
	
	}	
.titlecolor1 {
	color: #151B54;
	}
.titlecolor2 {
	color: #0020C2;
	}
.titlecolor3 {
	color: #6960EC;
	}
div.polaroid {
	width: 31.5%;
	background-color: #FFFFFF;
	box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	}
div.polaroid img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
div.container {
	text-align: center;
	padding: 10px 20px;
	font-family: Arial, serif;
	}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 6px;
	background-color: rgba(0,0,0,0.5); 
	opacity: 1;
	font-family: Comic Sans MS, georgia, serif;
	font-size: 14;
	}
